.testimonials {
  padding: 4rem 8%;
  /* background: #ffffff; */
  background: #f9f5f5;
  text-align: center;
}

.testimonials h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.testimonial-list {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonial {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  background: #f9fafb;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.testimonial p {
  font-style: italic;
  color: #444;
  margin-bottom: 1rem;
}

.testimonial h4 {
  color: #2563eb;
  font-weight: bold;
}
